.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 01rem;
}

.text {
  font-size: 24px;
  font-weight: 800;
  line-height: 32.74px;
  color: #4d4d4d;
}
