.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 2rem 0;
  padding-top: 1rem;

  > p {
    color: rgba(178, 178, 178, 1);
  }
}

.logo {
  padding-bottom: 4px;
}
