.wrapper {
  position: relative;
  background-color: #133a6f;
  color: white;
  padding: 0.3rem;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  border: transparent;
  padding-right: 16px;
  text-align: center;
}

.arrow {
  outline: none;
  position: absolute;
  top: 50%;
  right: -1px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 19px solid white;
  transform: translateY(-50%);
}

.isSelected {
  border-right: 19px solid #f4fbf9;
}
