.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  border: 1px solid gray;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    width: 50%;
  }
}

.left {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.buttonHighlighted {
  background-color: #03d69d;
  border: none;
}

.value {
  width: 100%;
  text-align: end;
}

.onGoing {
  border: 1px solid #03d69d;
}
